html, body{
    height:100%;
    background-color: #2c3f66;
}

#main{
    flex-direction: column;
    height: 100%;
}


a1{
    color: crimson;
 
}

.p8{
    margin-left: 275px;
}



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}


.d1{
    margin-top: 20px;
}
.div4{
    color: aliceblue;
    text-align: center;
}

p2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h4{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}
p1{
    color: aliceblue;
    text-align: center;
    font-style: bold;
}
div1{
    color: aliceblue;
    text-align: center;
}
.div3{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    background-color: #2c3f66;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px;

}

input[type="submit"]{
    color: aliceblue;
    background-color: crimson;
}
input[type="reset"]{
    color: aliceblue;
    background-color: crimson;
}

.a1{
    color: crimson;
}

.b1 {
    width: 200px;
    height: 40px;
    color: #fff;
    border-radius: 5px;
    padding: 10px 25px;
    font-family: 'Lato', sans-serif;
    font-weight: 500;
    background: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
    position: relative;
    display: inline-block;
     box-shadow:inset 2px 2px 2px 0px rgba(255,255,255,.5),
     7px 7px 20px 0px rgba(0,0,0,.1),
     4px 4px 5px 0px rgba(0,0,0,.1);
    outline: none;
    background-color: crimson;
  }

  .b1 {
    background: crimson;
    background: linear-gradient(0deg, crimson 0%, crimson 100%);
    border: none;
  }
  .b1 {
     background: crimson;
  background: linear-gradient(0deg, crimson 0%, crimson 100%);
  }

.d6{
    border-radius: 10px;
    border: solid;
    border-color: white;
    width: 700px;
    height: 200px;
}
