@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;400;500&display=swap');

*{
margin: 0;
padding: 0;
box-sizing: border-box;
font-family: 'Poppins', sans-serif;
}

body{
    background-color : #2c3f66;
    
}

.d1{
    margin-top: 20px;
}

p2{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

h4{
    color: aliceblue;
    text-align: center;
    font-size: 20px;
}
p1{
    color: aliceblue;
    text-align: center;
    font-style: bold;
}
div1{
    color: aliceblue;
    text-align: center;
}
div3{
    text-align: center;
}

form{
    display: flex;
    flex-direction: column;
    background-color: #2c3f66;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 0 10px;

}

input[type="submit"]{
    color: aliceblue;
    background-color: crimson;
}
input[type="reset"]{
    color: aliceblue;
    background-color: crimson;
}

.a1{
    color: crimson;
}
